
* {
    font-family: 'Courier New', Courier, monospace; 
}

.heading {
    font-size: 10rem;

    text-align: center;

    padding: 30px;
}

.whoseTurn {
    text-align: center;
    font-size: 2rem;


}
.boardDisplay {
    display:grid;
    padding: 50px;
    font-size: 10rem;
    text-align: center;
    justify-content: space-evenly;
    
    /* border-radius: 10px; */
    


}

.testDisplay {
    font-size: 5rem;
}
.cell {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;

    font-size: 7rem;
    border: 6px;
    border-style: solid;
    color: rgba(0, 0, 255, 0.3);
    height: 10rem;
    width: 10rem;
    margin: 0px;
    padding: 30px;
    /* border-radius: 10px; */
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

}

.row {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;

    color: red;
    margin: 0px;
    padding: 0px;
    /* border-radius: 10px; */

}