.boardDisplay {
    font-size: 5rem;
}

.testDisplay {
    font-size: 5rem;
}
.cell {
    display: grid;
    font-size: 3rem;
    border: 1px;
    border-style: solid;
    color: blue;
    height: 4rem;
    width: 4rem;
    
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px;
    border-style: solid;
    color: red;
}