
* {
    font-family: 'Courier New', Courier, monospace; 
}

.heading {
    font-size: 10rem;

    text-align: center;

    padding: 30px;
}

.gameStatusDisplay {
    text-align: center;
    font-size: 2rem;

    height: 100px;


}
.boardDisplay {
    display:grid;
    padding: 50px;
    font-size: 10rem;
    text-align: center;
    justify-content: space-evenly;
    
    /* border-radius: 10px; */
    

}


.reset {
    font-size: 1.5rem;

    text-align: center;

    padding: 30px;
}

.row {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    padding: 0px;
    /* border-radius: 10px; */

}

.cell:hover {
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
.cell {
    box-sizing: border-box;
    display: grid;

    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: white;
    font-size: 7rem;
    border: 6px;
    border-style: solid;
    color: rgba(0, 0, 255, 0.3);
    height: 15rem;
    width: 15rem;
    margin: 0px;
    padding: 30px;
    /* border-radius: 10px; */
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.cat {
       background-image: url('images/catsmol.jpg');
       background-repeat: no-repeat;
       background-position: center;
    }
.dog { background-image: url('images/dogsmol.jpg');
    background-repeat: no-repeat;
    background-position: center;

    
}


.cell-00 {
    border-left: 0px;
    border-top: 0px;
}

.cell-01 {
    border-top: 0px;

}

.cell-02 {
    border-top: 0px;
    border-right: 0px;


}

.cell-10 {
    border-left: 0px;

}

.cell-11 {
}

.cell-12 {
    border-right: 0px;
}

.cell-20 {
    border-bottom: 0px;
    border-left: 0px;
}

.cell-21 {
    border-bottom: 0px;

}

.cell-22 {
    border-right: 0px;
    border-bottom: 0px;
}
